/* src/index.css */
@import "./styles/tokens.css";
@import "./styles/base.css";

@import "./styles/ui.css";
@import "./styles/navbar.css";
@import "./styles/hero.css";
@import "./styles/fx.css";
@import "./styles/about.css";
@import "./styles/footer.css";
