/* src/styles/tokens.css */

:root {
  --bg: 255 255 255;
  --surface: 250 250 249;
  --surface-2: 245 245 244;

  --text: 17 24 39;
  --muted: 75 85 99;

  --border: 0 0 0;

  --accent: 37 99 235;
  --accent-2: 29 78 216;
  --accent-warm: 234 72 55;

  --nav-h: 76px;
}

.dark {
  --bg: 12 12 12;
  --surface: 16 16 16;
  --surface-2: 22 22 22;

  --text: 255 255 255;
  --muted: 205 205 205;

  --border: 255 255 255;

  --accent: 59 130 246;
  --accent-2: 37 99 235;
  --accent-warm: 245 91 66;
}

